<div class="w-full flex justify-end gap-x-5 pt-5" *transloco="let t">
  @if (showCancel()) {
    <button
      data-testId="cancel-button"
      class="p-ripple flex justify-center items-center sm:w-fit w-full font-primeng p-element p-button p-component p-button-secondary p-button-text"
      (click)="onCancelClick()"
    >
      {{ t("cancel") }}
    </button>
  }
  <button
    [disabled]="disabled()"
    data-testid="save-button"
    class="p-button sm:w-fit w-full justify-center font-primeng"
    [ngClass]="{ 'p-disabled': disabled() }"
    (click)="saveClicked.emit()"
  >
    {{ t("save") }}
  </button>
</div>
